---
import Base from '../layouts/Base.astro';
---

<Base title="About — Jared Steiner" description="Learn more about Jared Steiner.">
  <article>
    <div class="prose">
      <h1>About Me</h1>

      <p>Hi!</p>

      <p>WIP</p>
    </div>
  </article>
</Base>
